Source: xenta-info
Section: admin
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Build-Depends: debhelper (>= 9)
Homepage: https://github.com/xentaoslinux/xenta-info
Vcs-Browser: https://github.com/xentaoslinux/xenta-info.git

Package: xenta-info-cinnamon
Architecture: all
Provides: xenta-info
Depends: xenta-user-guide-cinnamon
Description: Paket Untuk Informasi Xenta OS Edisi Cinnamon.
 Paket Dasar Xenta OS Xenta OS (Base) Untuk Kebutuhan dan 
 Sumber Informasi dari Xenta OS Edisi Cinnamon.

Package: xenta-info-xfce
Architecture: all
Provides: xenta-info
Depends: xenta-user-guide-xfce
Description: Paket Untuk Informasi Xenta OS Edisi Xfce.
 Paket Dasar Xenta OS Xenta OS (Base) Untuk Kebutuhan dan 
 Sumber Informasi dari Xenta OS Edisi Xfce.
